.match-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.match-popup {
  background: var(--el-clr);
  padding: var(--spacing);
  border-radius: .2rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.2);
  width: min(100%, 500px);
  z-index: 99;
}

.match-popup form {
  display: grid;
  grid-template-rows: 2fr 1fr;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
}

.form-columns-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  gap: var--spacing;
}

.form-columns-wrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  width: 100%;
}

.versus-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .form-columns-wrapper div:first-child label {
    flex-direction: row;
  }

  .form-columns-wrapper div:last-child label {
    flex-direction: row-reverse;
  }
}


.form-columns-wrapper > div {
  display: flex;
  align-items: center;
}



.form-columns-wrapper div span {
  display: block;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

input {
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--bg-clr);
  color: var(--ft-clr);
  border: none;
  border-radius: .2rem;

  padding-inline: var(--spacing-s);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.match-popup form button {
  background: var(--el-clr);
  border: 1px solid hsla(0,0%,0%,.2);
  font-size: 1rem;
  cursor: pointer;
  color: var(--ft-clr);
  padding: var(--spacing-s);
}
