.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav .brand img {
  width: 30px;
}

.nav .brand a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.nav-list {
  display: flex;
  gap: 1rem;
}
