.round-robin tbody th {
  position: sticky;
  left: 0;
  background-color: var(--head-clr);
}

.round-robin .same-user {
  background-color: hsl(0, 0%, 0%, .08);
}

.round-robin tbody td {
  cursor: pointer;
}
